[build]
  command = "npm run export:web"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
  EXPO_PUBLIC_API_URL = "https://capstone-backend-og2c.onrender.com/api"
